.popup__save-button {    
    justify-content: center;
    display: flex;
    margin: 48px 0 36px;
    align-items: center;    
    border-radius: 2px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: black;    
    padding: 18px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;    
    color: white;
}
.popup__save-button:hover {
    opacity: 0.8;
    cursor: pointer;
}